{%extends 'base/base.html'%}

{%block extra_js%}
<script>
    $(document).ready(function(){
        $('#id_sala').children().remove();
        $('#id_sala').append('<option disabled selected value> --Escoge un teatro primero--</option>');
    });
    $("#id_teatro").change(function () {
        var teatro= $(this).val();
        
        $.ajax({
            url: "{%url 'funcion:salas_ajax'%}",
            data: {
                'teatro':teatro
            },
            dataType: 'json',
            success: function(salas){
                console.log(salas);
                var id_sala=$('#id_sala');
                id_sala.children().remove();
                for(sala in salas){
                    id_sala.append('<option>'+ salas[sala].id+  '</option>');
                }
            }

        });
    });

</script>
{%endblock%}

{%block content%}
<div class="container">
    <form method="post">
        {%csrf_token%}
        {{form.as_p}}
        <a class="btn bg-dark "href="{%url 'funcion:listar_funcion'%}">Atrás</a>

        <button class="btn btn-primary" type="submit">Guardar</button>
        
    </form>
</div>


{%endblock%}