{%extends 'base/base.html'%}

{%block content%}

{%if validlink%}

<h1 class="text-center">Nueva Contraseña</h1>

<form method="post">
    {%csrf_token%}

    <div class="row">
        <div class="col-lg-5 offset-lg-3">
            <div class="form-group">
                <label for="id_new_password1">Nueva Contraseña</label>
                {{form.new_password1}}
            </div>    
        </div>
    </div>

    <div class="row">
        <div class="col-lg-5 offset-lg-3">
            <div class="form-group">
                <label for="id_new_password2">Confirmar Nueva Contraseña</label>
                {{form.new_password2}}
            </div>    
        </div>
    </div>

    <div class="row">
        <div class="col-lg-5 offset-lg-3">
            <div class="form-group">
                <button class="btn btn-primary">Cambiar Contraseña</button>
            </div>    
        </div>
    </div>
</form>

{%else%}
<h1 class="text-center">Enlace Inválido. El link ya ha sido utilizado.</h1>
{%endif%}

{%endblock%}



