{%extends 'base/base.html'%}

{%block extra_js%}
<script>

$(document).ready(function(){
    $('input').addClass('form-control');
});
</script>

{%endblock%}

{%block content%}
<div class="container">
    <form method="POST">
        {%csrf_token%}
        <div class="row">
            <div class="col-lg-5 offset-lg-3">
                <div class="form-group"><label for="old_password" name="old_password">Contraseña Antigua</label>
                {{form.old_password}}
                </div> 
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 offset-lg-3">
                <div class="form-group"><label for="new_password1" name="new_password1">Nueva Contraseña</label>
                {{form.new_password1}}
                </div> 
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 offset-lg-3">
                <div class="form-group"><label for="new_password2" name="new_password2">Confirmación de Contraseña</label>
                {{form.new_password2}}
                </div> 
            </div>
        </div>
        <div class="col-lg-5 offset-lg-4">
            <div class="form-group"><label for=""></label>
                <a href="{%url 'funcion:listar_funcion'%}" class="btn bg-dark">Volver</a>
                <button class="btn btn-primary" type="submit">Guardar</button>
            </div>
        </div>
        
    </form>
</div>

{%endblock%}
